body, input, button {
  font-family: 'Myriad pro', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.321em;
  color: #333;
}

a {
  color: #1A3DC1;
  text-decoration: none;
}

a:hover {
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

.pums-pums {
  width: 54px;
  height: 40px;
  background: url('../images/pums_pums.png');
  position: absolute;
  top: 3px;
  right: -56px;
}

.jmyak-jmyak {
  width: 61px;
  height: 34px;
  background: url('../images/jmyak_jmyak.png');
  position: absolute;
  top: 5px;
  right: -65px;
}

.tits-tits {
  display: none;
  left: -57px;
  width: 55px;
  height: 33px;
  position: absolute;
  background: url('../images/tits_tits.png');
}

a .pums-pums, a .jmyak-jmyak {
  display: none;
}

a:hover .pums-pums, a:hover .jmyak-jmyak {
  display: block;
}