.photo {
  width: 220px;
  margin: 5px;
  float: left;
  max-width: 176px;
  border: 3px solid #fff;
}

.photo:hover {
  border: 3px solid #ff008a;
}

.photo img {
  max-width: 100%;
  display: block;
}

.contact-block {
  margin: 0 auto 50px auto;
  width: 440px;
}

.contact-block .photographer {
  padding: 30px;
  border-right: 1px solid #e1e1e1;
  width: 159px;
  float: left;
}

.contact-block .contacts {
  font-size: 14px;
  line-height: 1.5em;
  float: left;
  padding: 50px 30px 30px 30px;
  width: 160px;
}

.contact-block .contacts a {
  color: #000;
  border-bottom: 1px solid #bfbfbf;
  display: inline-block;
  height: 16px;
}

.accordion {
  list-style: none;
}

.accordion .item {
  border: 1px solid #ddd;
  margin-bottom: 2px;
  padding: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.accordion .item  a {
  display: inline-block;
  margin: 0 10px;
  color: #000;
  height: 14px;
  padding-right: 10px;
  background: url('../images/accordeon_arrow.png') no-repeat right -11px;
}

.accordion .item.current a {
  background-position: right 2px;
  color: #ff008a;
  margin-bottom: 10px;
}

.accordion .item a span {
  border-bottom: 1px dotted #bfbfbf;
}

.accordion .content {
  border-top: 1px solid #ddd;
  padding: 10px 10px 0 10px;
}